.App {
  /* text-align: center; */
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(143, 143, 143);
  color: white;
}

ul li {
  list-style-type: none;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  text-decoration: none;
}

.nav-links:visited {
  text-decoration: none;
}